* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 400px;
    height: 100vh;

    overflow: hidden;

    position: relative;

    background: #222;
}

.controls {
    position: absolute;

    display: flex;
    flex-direction: column;

    top: 24px;
    right: 0;

    z-index: 1;
}

label {
    min-width: 100px;
    display: inline-block;

    color: black;
    background: #efefef;
}

.progress {
    position: absolute;

    width: 100%;
    padding: 8px;
    box-sizing: border-box;

    z-index: 1;
}
